body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.logo {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  

  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}


.banner {
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("anh/a1.JPG") center / cover no-repeat;

  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;

  color: white;
  font-family: "Segoe UI", sans-serif; 
  font-size: 60px; 
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;

 text-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.5),      
    0px 4px 10px rgba(0, 0, 0, 0.3),     
    0px 10px 30px rgba(0, 0, 0, 0.4);    
}



.slogan-bar {
    background-color: #8cc671;
    color: #000;
    text-align: center;
}

.block_3 {
    flex: 1;
    padding: 10px;
}


.content-area {
    padding: 40px 20px;
    text-align: center;
}

.column {
    flex: 1;
    min-width: 250px;
    padding: 20px;
}

.list-no-bullet {
    list-style: none;
    padding: 0;
}

.btn-link {
    display: inline-block;
    margin-top: 10px;
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
}


.main-footer {
    background-color: #0056b3;
    color: white;
    padding: 20px 0 0 0;
}

.main-footer a {
    color: #fff;
    text-decoration: none;
}

.main-footer a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #004494;
    text-align: center;
    padding: 10px;
    font-style: italic;
    margin-top: 20px;
}
