.banner {

background: url("img/img-0.jpg") no-repeat center center;

background-size: cover;

padding-top: 12rem;

padding-bottom: 12rem;

text-align: center limportant;

color: darkred limportant;
}
.slogan {

text-align: center limportant;

width: 100%;

}

Jrow {

display: flex;

flex-wrap: wrap;

margin-top: -1;

max-width: 100%;

padding-right: 3rem;

padding-left: 3rem;

background-color: lightgrey;

}

.block_3{

flex: 0 0 auto;

width: 30%;

margin: 10px;

}

.cell_img {

width: 50%;

}

.cell_text{

width:50%;

padding-left: 5rem;

}

.img {

width: 100%;

height: 100%;

}

footer {

background-color: lightgrey;

margin: 1px;

padding: 10px;
}
link {

color: navy;

text-align: left;

}

menu {

font-size:120%;

text-decoration: none;
}
