
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.banner {
    position: relative; 
    height: 400px;

    background: url("img/img-0.jpg") no-repeat center center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.45); /* làm ảnh chìm */
    z-index: 1;
}
.banner-title {
    position: relative;
    z-index: 2; /* cao hơn ảnh */

    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-align: center;

    text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
}

.slogan-bar {
    background-color: #8cc671;
    color: #000;
    text-align: center;
}

.block_3 {
    flex: 1;
    padding: 10px;
}


.content-area {
    padding: 40px 20px;
    text-align: center;
}

.column {
    flex: 1;
    min-width: 250px;
    padding: 20px;
}

.list-no-bullet {
    list-style: none;
    padding: 0;
}

.btn-link {
    display: inline-block;
    margin-top: 10px;
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
}


.main-footer {
    background-color: #0056b3;
    color: white;
    padding: 20px 0 0 0;
}

.main-footer a {
    color: #fff;
    text-decoration: none;
}

.main-footer a:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #004494;
    text-align: center;
    padding: 10px;
    font-style: italic;
    margin-top: 20px;
}
